@import "~spectre.css/src/spectre";
@import "~spectre.css/src/spectre-exp";
@import "~spectre.css/src/spectre-icons";

body {
    height: 100vh;
}

// spectre modifications
.card {
    box-shadow: 0 0.25rem 1rem rgb(48 55 66 / 15%);
}

a.card {
    color: #3b4351;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0.25rem 1rem rgb(48 55 66 / 25%);
        color: #3b4351;
        text-decoration: none;
    }
}
