/.angular/cache
bin/
obj/
dist/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules/
*.fs.js
*.fs.ts
.fable/
/Starter/wwwroot/**/*
!.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs
